{{ define "not main" }}
<link rel="stylesheet" href="{{ .RelPermalink}}random-image-style.css">

<div class="image-container">
    <div id="loader"></div> <!-- Loading circle. right now hidden -->
    <p class="randomimage-description"></p>
    <a href="#" id="image-link">
        <!-- <img class="randomimage-img"> -->
    </a>
    <p class="randomimage-description img-number"></p>
    <input id="jump-to" type="number" min="1" placeholder="Jump to">
</div>

<div class="randomimage-buttons">
    <a class="randomimage-btn img-previous" href="#" title="You can use left and right arrow keys to navigate through images">previous</a>
    <a class="randomimage-btn img-next" href="#" title="You can use left and right arrow keys to navigate through images">next</a>
</div>

<script src="{{ .RelPermalink }}img-description.js"></script>
<script src="{{ .RelPermalink }}script.js"></script>
{{ end }}

{{ define "main" }}
<style>
    #content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .image-post-container {
        padding: 1rem 0;
        font-family: "JetBrains Mono";
        width: 60vw;
        display: flex;
        flex-direction: column;
        background-color: var(--image-post-bg);
    }

    .image-post-info {
        padding: 0rem 1rem;
        color: var(--image-post-info);
    }
    .image-post-caption {
        margin: 1rem 0rem;
        color: var(--image-post-caption);
    }

    .image-post-container img {
        align-self: center;
        box-sizing: border-box;
        width: 100%;
        height: 700px;
        object-fit: contain;
        display: block;
        margin: 1rem;
    }
    .image-buttons {
        margin: 1rem;
    }
    .image-btn {
        margin: 0 1rem;
        color: #FBB4A5;
    }
    @media (max-width: 1200px) {
        .image-post-container {
            width: 90vw;
            font-size: 0.8rem;
            line-height: 1.6;
        }
    }
    @media (max-width: 450px) {
        .image-post-container {
            width: 90vw;
            height: fit-content;
            font-size: 0.8rem;
            line-height: 1.6;
        }
        .image-post-container img {
            height: fit-content;
        }
        .image-btn {
            font-size: 0.8rem;
            margin: 0.5rem;
        }
    }
</style>

<!--<div class="image-post-container">
    <div class="image-post-info">
        <div class="image-post-author">Author: Samiul</div>
        <div class="image-post-date"></div>
        <div class="image-post-caption">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dolorem minima non ea architecto id maiores eaque vitae ut sapiente, aspernatur quos quam at vel alias accusantium aliquid animi eos.
        </div>
    </div>
    <img src="randomImages/0.jpg">
</div>
<div class="image-post-container">
    <div class="image-post-info">
        <div class="image-post-author">Author: Samiul</div>
        <div class="image-post-date"></div>
        <div class="image-post-caption">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dolorem minima non ea architecto id maiores eaque vitae ut sapiente, aspernatur quos quam at vel alias accusantium aliquid animi eos.
        </div>
    </div>
    <img src="randomImages/3.jpg">
</div>-->

<!--<div class="randomimage-buttons">
    <a class="randomimage-btn img-previous" href="#" title="You can use left and right arrow keys to navigate through images">previous</a>
    <a class="randomimage-btn img-next" href="#" title="You can use left and right arrow keys to navigate through images">next</a>
</div>-->

<script src="{{ .RelPermalink }}img-description.js"></script>
<script src="{{ .RelPermalink }}script.js"></script>

{{ end }}
