{{/*
{{ define "main" }}
	<ul class="blogs-list">
		{{ range .Data.Pages.GroupByDate "2006-01" }}
			<h3 id="{{ dateFormat "Jan06" (printf "%s-01" .Key)}}" class="blogs-list-date">{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h3>
			
			{{ range .Pages }}
				{{- partial "listitem.html"  . -}}
			{{ end }}
		{{ end }}
	</ul>
{{ end }}
*/}}






{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages 5 }}

    <ul class="blogs-list">
        {{ range $paginator.Pages.GroupByDate "2006-01" }}
            <h3 id="{{ dateFormat "Jan06" (printf "%s-01" .Key)}}" class="blogs-list-date">
                {{ dateFormat "January 2006" (printf "%s-01" .Key) }}
            </h3>
            
            {{ range .Pages }}
                {{- partial "listitem.html" . -}}
            {{ end }}
        {{ end }}
    </ul>

{{ $p := $paginator }}
<nav class="pagination blog-pagination">
    {{ if $p.HasPrev }}
        <a href="{{ $p.Prev.URL }}">&larr;</a>
    {{ end }}

    {{ range $p.Pagers }}
        {{ $pageNum := .PageNumber }}
        {{ $current := $p.PageNumber }}
        {{ $total := $p.TotalPages }}

        {{ if or
            (eq $pageNum 1)
            (eq $pageNum $total)
            (and (ge $pageNum (sub $current 1)) (le $pageNum (add $current 1)))
        }}
            {{ if eq . $p }}
                <span class="active">{{ $pageNum }}</span>
            {{ else }}
                <a href="{{ .URL }}">{{ $pageNum }}</a>
            {{ end }}
        {{ else if or
            (eq $pageNum (sub $current 2))
            (eq $pageNum (add $current 2))
        }}
            <span class="ellipsis">...</span>
        {{ end }}
    {{ end }}

    {{ if $p.HasNext }}
        <a href="{{ $p.Next.URL }}">&rarr;</a>
    {{ end }}
</nav>
{{ end }}

