{{ define "main" }}
{{- partial "new-updates.html" . -}}
<div id="homepage">
    <div class="homepage-top">
        <img class="homepage-cover-pfp" src="https://avatars.githubusercontent.com/u/93048025?v=4">

        <!--<ul class="homepage-top-link-list">
            <li><a class="homepage-top-links" href="/images">Images</a></li>
            <li><a class="homepage-top-links" href="/music">Music</a></li>
        </ul>-->
    </div>
    <div class="about-me">

        <h2 id="me"><a style="color: inherit; text-decoration: none;" href="#me">[about me]</a></h2>
        <p>
            I am Samiul Islam aka 8amiul. A college student from Bangladesh.
        </p>
        <p>
            Probably a guy with <span style="color: var(--header-bg)">good sense of humor</span>. I mostly remain calm and observe what people do. I like to meet new people and learn new ideas. You can read my posts to know more about me.
        </p>
        <p style="color: var(--header-bg)">
            One may see these in me,
        </p>
        <div class="about-me-list">
        <ul style="list-style-type: '> ';">
            <li>morbid curiosity/fascination</li>
            <li>several types of irony</li>
            <li>often talks about tech</li>
            <li>old-school</li>
            <li>minimalist</li>
            <!-- <li style="color: var(--header-bg)"> I do like,</li> -->

             <details>
                <summary style="color: var(--header-bg);">I do like ...</summary>             
            <ul style="list-style-type: '>> ';">
                <li>computers</li>
                <li>listening to music</li>
                <li>open world video games</li>
                <li>chess</li>
                <li>cats</li>
                <li>memes</li>
                <li>deep space and deep sea</li>
                </details>

                <details>
                    <summary style="color: var(--header-bg);">interested but not good at ...</summary>
                <!-- <li style="color: var(--header-bg);">interested but not good at,</li> -->
                <ul style="list-style-type: '>>> ';">
                    <li>math</li>
                    <li>problem solving</li>
                    <li>history</li>
                    <li>philosophy</li>
                    <li>political, social and controversial matters</li>
                </ul>
                </details>
            </ul>
        </ul>
        </div>
        <p>
            I don't agree with the all the trends and some society defined norms. So during those time one may find me <span style="color: var(--header-bg);">boring</span>. 
        </p>

        <h2 id="links"><a style="color: inherit; text-decoration: none;" href="#links">[social links]</a></h2>
        <ul class="social-links-list">
            <li><a href="https://github.com/8amiul" target="_blank">GitHub</a></li>
            <li><a href="https://www.facebook.com/8amiul8" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/8amiul" target="_blank">Instagram</a></li>
            <li><a href="https://www.youtube.com/@8AMIUL" target="_blank">YouTube</a></li>
            <li><a href="https://open.spotify.com/user/31ziro3uqh7oeb5kpiw4bhcd6fqu" target="_blank">Spotify</a></li>
            <li><a href="https://www.chess.com/member/8amiulonceagain" target="_blank">chess.com</a></li>
            <li><a href="https://tryhackme.com/p/8amiul" target="_blank">TryHackMe</a></li>
            <li><a href="https://monkeytype.com/profile/8amiul" target="_blank">monkeytype</a></li>
            <li><a href="https://bckl.gg/ppvA" target="_blank">backloggd</a></li>
        </ul>
    </div>
    
    <div class="div-3">
        <div class="music-album">
            {{- partial "fav-mus-album.html" . -}}
        </div>
        <div class="chatbox">
            {{- partial "chatbox.html" . -}}
        </div>
    </div>
</div>

{{ end }}
